<!DOCTYPE html>
  <%- include('_header') %>

<body>
    <div class="container">
      <h1 class="mb-1"><%= article.title %></h1>
      <div class="text-muted mb-2">
        <%= article.createdAt.toLocaleDateString() %>
      </div>
      <a href="/" class="btn btn-secondary">Back to Articles</a>
      <div><%- article.sanitizedHtml %></div>
    </div>
  </body>
</html>
